{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="rotaracthimalayan">
    <meta name="author" content="rotaracthimalayan">

    <title>Rotaract Himalayan</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Events CSS -->
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/detailpage-header.min.css' %}">

    <!-- Custom fonts for this template -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Rotaract Himalayan</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#portfolio">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Mission</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">Leaders Directory</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text scrollme">
            <div class="intro-lead-in">Welcome To Rotaract Himalayan Chandigarh!</div>
            <div class="intro-heading text-uppercase animateme" data-when="exit" data-from="0" data-to="0.75" data-opacity="0" data-translatey="-250"></div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger animateme" data-when="exit" data-from="0" data-to="0.75" data-opacity="0" data-translatey="-150" href="#services">Tell Me More</a>
        </div>
    </div>
</header>

<!-- Services -->
<section id="services">
    <div class="container scrollme">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Mission</h2>
                <h3 class="section-subheading text-muted">fellowship through service</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
            <span class="fa-stack fa-4x animateme" data-when="view" data-from="0.65" data-to="0.15" data-translatex="400" data-translatey="400">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="service-heading">Leadership Skills</h4>
            </div>
            <div class="col-md-4">
            <span class="fa-stack fa-4x animateme" data-when="view" data-from="0.65" data-to="0.15" data-translatex="400" data-translatey="400">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-users fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="service-heading">Community Service</h4>
            </div>
            <div class="col-md-4">
            <span class="fa-stack fa-4x animateme" data-when="view" data-from="0.65" data-to="0.15" data-translatex="400" data-translatey="400">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="service-heading">Fellowship</h4>
            </div>
        </div>
    </div>
</section>

<!-- Project Grid -->
<section class="bg-light" id="portfolio">
    <div class="container scrollme">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Projects</h2>
                <h3 class="section-subheading text-muted">our contribution to society</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item animateme" data-when="view" data-from="0.7" data-to="0" data-opacity="0">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="{% static 'images/projects/01-adult-literacy.jpg' %}" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Adult Literacy</h4>
                    <p class="text-muted">in the slum areas of chandigarh</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item animateme" data-when="view" data-from="0.7" data-to="0" data-opacity="0">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="{% static 'images/projects/01-back-to-school.jpg' %}" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Back to School</h4>
                    <p class="text-muted">educating school dropouts</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item animateme" data-when="view" data-from="0.7" data-to="0" data-opacity="0">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="{% static 'images/projects/01-animal-welfare.png' %}" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Animal Welfare</h4>
                    <p class="text-muted">raising awareness about animals</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item animateme" data-when="view" data-from="0.7" data-to="0" data-opacity="0">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="{% static 'images/projects/01-skill-development.png' %}" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Skill Development</h4>
                    <p class="text-muted">providing vocational training</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item animateme" data-when="view" data-from="0.7" data-to="0" data-opacity="0">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="{% static 'images/projects/01-happy-school.png' %}" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Happy School</h4>
                    <p class="text-muted">transforming schools</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item animateme" data-when="view" data-from="0.7" data-to="0" data-opacity="0">
                <a class="portfolio-link" data-toggle="modal" href="#">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="{% static 'images/projects/01-more-coming.png' %}" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>More coming soon</h4>
                    <p class="text-muted">...</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Events -->
<section id="events">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Events</h2>
            <h3 class="section-subheading text-muted">fun filled days</h3>
        </div>
    </div>
    <div class="container-fluid-gallery flow-hidden flow-hidden-new">
        <div class="devider-grid">
            <div class="devider deviderV deviderV1"></div>
            <div class="devider deviderV deviderV2"></div>
            <div class="devider deviderV deviderV3"></div>
            <div class="devider deviderH deviderH1"></div>
            <div class="devider deviderH deviderH2"></div>
            <div class="devider deviderH deviderH3"></div>
            <div class="devider deviderH deviderH4"></div>
            <div class="devider deviderH deviderH5"></div>
            <div class="devider deviderH deviderH6"></div>
            <div class="devider deviderH deviderH7"></div>
            <div class="devider deviderH deviderH8"></div>
        </div>
        <div class="story-img lazyload active" id="thumb1" data-bg=/static/images/events/01-story.png>
        </div>
        <div class="story-img lazyload" id="thumb2" data-bg=/static/images/events/02-story.png>
        </div>
        <div class="story-img lazyload" id="thumb3" data-bg=/static/images/events/03-story.png>
        </div>
        <div class="story-img lazyload" id="thumb4" data-bg=/static/images/events/04-story.png>
        </div>
        <div class="story-img lazyload" id="thumb5" data-bg=/static/images/events/05-story.jpg>
        </div>
        <div class="story-img lazyload" id="thumb6" data-bg=/static/images/events/06-story.png>
        </div>
        <div class="story-img lazyload" id="thumb7" data-bg=/static/images/events/07-story.jpg>
        </div>
        <div class="story-img lazyload" id="thumb8" data-bg=/static/images/events/08-story.jpg>
        </div>
        <div class="story-img lazyload" id="thumb9" data-bg=/static/images/events/09-story.jpg>
        </div>
        <div class="story-img lazyload" id="thumb10" data-bg=/static/images/events/10-story.jpg>
        </div>
        <div class="story-img lazyload" id="thumb11" data-bg=/static/images/events/11-story.jpg>
        </div>
        <div class="story-img lazyload" id="thumb12" data-bg=/static/images/events/12-story.jpg>
        </div>
        <div id="grid-lines" class="row no-space" style="height:100%; margin-left: 0;margin-right: 0;">
            <div class="gallery-tile owl-carousel">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 thumb item" onMouseover="showanyproduct('thumb1')">
                    <div class="story-img-mob lazyload" title='pirates of the city'
                         data-bg=/static/images/events/01-story.png></div>
                    <div class="content"><h2>Pirates of the City</h2></div>
                    <div class='story tile-first1' style="background-color:#f4ba49;">
                        <div class="story-count">1/12</div>
                        <h3 style="color:#666 !important;">The largest treasure hunt of the city</h3>
                        <div class="img-thumb">
                            <img class='lazyload' alt='pirates of the city'
                                 data-src='/static/images/events/01-story-small.png' width="100" height="100">
                        </div>
                        <div class="inner-content">
                            <div style="color:#666 !important;">Pirates of the City<br>
                                <small>Hunt<span></span></small>
                            </div>
                        </div>
                        <div class="no-info">1/16</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 thumb item"
                     onMouseover="showanyproduct('thumb2')">
                    <div class="story-img-mob lazyload" title='roshni'
                         data-bg=/static/images/events/02-story.png></div>
                    <div class="content"><h2>Roshni</h2></div>
                    <div class='story' style="background-color:#006cad;">
                        <div class="story-count">2/12</div>
                        <h3 style="color:#fff !important;">Spreading light</h3>
                        <div class="img-thumb">
                            <img class='lazyload' alt='roshni'
                                 data-src='/static/images/events/02-story-small.jpg' width="100" height="100">
                        </div>
                        <div class="inner-content">
                            <div style="color:#fff !important;">Roshni<br>
                                <small>Experience<span></span></small>
                            </div>
                        </div>
                        <div class="no-info">2/16</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 thumb item"
                     onMouseover="showanyproduct('thumb3')">
                    <div class="story-img-mob lazyload" title='salsa slam'
                         data-bg=/static/images/events/03-story.png></div>
                    <div class="content"><h2>Salsa Slam</h2></div>
                    <div class='story' style="background-color:#eddd30;">
                        <div class="story-count">3/12</div>
                        <h3 style="color:#666 !important;">It's all about those moves</h3>
                        <div class="img-thumb">
                            <img class='lazyload' alt='salsa slam'
                                 data-src='/static/images/events/03-story-small.jpg' width="100"
                                 height="100">
                        </div>
                        <div class="inner-content">
                            <div style="color:#666 !important;">Salsa Slam<br>
                                <small>Entertainment<span></span></small>
                            </div>
                        </div>
                        <div class="no-info">3/16</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 thumb item"
                     onMouseover="showanyproduct('thumb4')">
                    <div class="story-img-mob lazyload" title='kids olympics'
                         data-bg=/static/images/events/04-story.png></div>
                    <div class="content"><h2>Kids Olympics</h2></div>
                    <div class='story' style="background-color:#b47e5a;">
                        <div class="story-count">4/12</div>
                        <h3 style="color:#fff !important;">Run like the wind</h3>
                        <div class="img-thumb">
                            <img class='lazyload' alt='kids olympics'
                                 data-src='/static/images/events/04-story-small.jpg' width="100" height="100">
                        </div>
                        <div class="inner-content">
                            <div style="color:#fff !important;">Kids Olympics<br>
                                <small>Sport<span></span></small>
                            </div>
                        </div>
                        <div class="no-info">4/16</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 thumb item"
                     onMouseover="showanyproduct('thumb5')">
                    <div class="story-img-mob lazyload" title='bodhi'
                         data-bg=/static/images/events/05-story.jpg></div>
                    <div class="content"><h2>Bodhi</h2></div>
                    <div class='story' style="background-color:#f44949;">
                        <div class="story-count">5/12</div>
                        <h3 style="color:#fff !important;">You got a friend in me</h3>
                        <div class="img-thumb">
                            <img class='lazyload' alt='bodhi'
                                 data-src='/static/images/events/05-story-small.png' width="100" height="100">
                        </div>
                        <div class="inner-content">
                            <div style="color:#fff !important;">Bodhi<br>
                                <small>Care<span></span></small>
                            </div>
                        </div>
                        <div class="no-info">5/16</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 thumb item"
                     onMouseover="showanyproduct('thumb6')">
                    <div class="story-img-mob lazyload" title='christmas'
                         data-bg=/static/images/events/06-story.png></div>
                    <div class="content"><h2>Christmas</h2></div>
                    <div class='story' style="background-color:#ffc000;">
                        <div class="story-count">6/12</div>
                        <h3 style="color:#666 !important;">Spreading joy</h3>
                        <div class="img-thumb">
                            <img class='lazyload' alt='christmas'
                                 data-src='/static/images/events/06-story-small.png' width="100" height="100">
                        </div>
                        <div class="inner-content">
                            <div style="color:#666 !important;">Christmas<br>
                                <small>Festival<span></span></small>
                            </div>
                        </div>
                        <div class="no-info">6/16</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 thumb item"
                     onMouseover="showanyproduct('thumb7')">
                    <div class="story-img-mob lazyload" title='orientation'
                         data-bg=/static/images/events/07-story.jpg></div>
                    <div class="content"><h2>Orientation</h2></div>
                    <div class='story tile-second1' style="background-color:#c1bfd8;">
                        <div class="story-count">7/12</div>
                        <h3 style="color:#666 !important;">A grand welcome</h3>
                        <div class="img-thumb">
                            <img class='lazyload' alt='orientation'
                                 data-src='/static/images/events/07-story-small.jpg' width="100" height="100">
                        </div>
                        <div class="inner-content">
                            <div style="color:#666 !important;">Orientation<br>
                                <small>Strength<span></span></small>
                            </div>
                        </div>
                        <div class="no-info">7/16</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 thumb item"
                     onMouseover="showanyproduct('thumb8')">
                    <div class="story-img-mob lazyload" title='dental camp'
                         data-bg=/static/images/events/08-story.jpg></div>
                    <div class="content"><h2>Dental Camp</h2></div>
                    <div class='story' style="background-color:#ff3d00;">
                        <div class="story-count">8/12</div>
                        <h3 style="color:#fff !important;">Keep smiling</h3>
                        <div class="img-thumb">
                            <img class='lazyload' alt='dental camp'
                                 data-src='/static/images/events/08-story-small.png' width="100" height="100">
                        </div>
                        <div class="inner-content">
                            <div style="color:#fff !important;">Dental Camp<br>
                                <small>Health<span></span></small>
                            </div>
                        </div>
                        <div class="no-info">8/16</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 thumb item"
                     onMouseover="showanyproduct('thumb9')">
                    <div class="story-img-mob lazyload" title='futsal cup'
                         data-bg=/static/images/events/09-story.jpg></div>
                    <div class="content"><h2>Futsal Cup</h2></div>
                    <div class='story tile-thrid1' style="background-color:#f4ba49;">
                        <div class="story-count">9/12</div>
                        <h3 style="color:#666 !important;">A game of skills</h3>
                        <div class="img-thumb">
                            <img class='lazyload' alt='futsal cup'
                                 data-src='/static/images/events/09-story-small.png' width="100" height="100">
                        </div>
                        <div class="inner-content">
                            <div style="color:#666 !important;">Futsal Cup<br>
                                <small>Sport<span></span></small>
                            </div>
                        </div>
                        <div class="no-info">9/16</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 thumb item"
                     onMouseover="showanyproduct('thumb10')">
                    <div class="story-img-mob lazyload" title='naag panchami'
                         data-bg=/static/images/events/10-story.jpg></div>
                    <div class="content"><h2>Naag Panchami</h2></div>
                    <div class='story' style="background-color:#541d66;">
                        <div class="story-count">10/12</div>
                        <h3 style="color:#fff !important;">A collaboration with PETA</h3>
                        <div class="img-thumb">
                            <img class='lazyload' alt='naag panchami'
                                 data-src='/static/images/events/10-story-small.png' width="100"
                                 height="100">
                        </div>
                        <div class="inner-content">
                            <div style="color:#fff !important;">Naag Panchami<br>
                                <small>Awareness<span></span></small>
                            </div>
                        </div>
                        <div class="no-info">10/16</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 thumb item"
                     onMouseover="showanyproduct('thumb11')">
                    <div class="story-img-mob lazyload" title='single digit prodigy'
                         data-bg=/static/images/events/11-story.jpg></div>
                    <div class="content"><h2>Single Digit Prodigy</h2></div>
                    <div class='story' style="background-color:#6df1e4;">
                        <div class="story-count">11/12</div>
                        <h3 style="color:#666 !important;">Towards a bright future</h3>
                        <div class="img-thumb">
                            <img class='lazyload' alt='single digit prodigy'
                                 data-src='/static/images/events/11-story-small.png' width="100"
                                 height="100">
                        </div>
                        <div class="inner-content">
                            <div style="color:#666 !important;">Single Digit Prodigy<br>
                                <small>Talent<span></span></small>
                            </div>
                        </div>
                        <div class="no-info">11/16</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 thumb item"
                     onMouseover="showanyproduct('thumb12')">
                    <div class="story-img-mob lazyload" title='vegan food fest'
                         data-bg=/static/images/events/12-story.jpg></div>
                    <div class="content"><h2>Vegan Food Fest</h2></div>
                    <div class='story' style="background-color:#4f1b24;">
                        <div class="story-count">12/12</div>
                        <h3 style="color:#fff !important;">Finger licking good</h3>
                        <div class="img-thumb">
                            <img class='lazyload' alt='vegan food'
                                 data-src='/static/images/events/12-story-small.png' width="100"
                                 height="100">
                        </div>
                        <div class="inner-content">
                            <div style="color:#fff !important;">Vegan Food Fest<br>
                                <small>Food<span></span></small>
                            </div>
                        </div>
                        <div class="no-info">12/16</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Team -->
<section class="bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member scrollme animateme" data-when="enter" data-from="0.5" data-to="0" data-crop="false" data-opacity="0" data-scale="1.5">
                    <img class="mx-auto rounded-circle" src="{% static 'images/team/priya.jpeg' %}" alt="">
                    <h4>Priya Krishnan</h4>
                    <p class="text-muted">President</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="http://www.facebook.com/priyakrishnan.13" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/priya0612" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member scrollme animateme" data-when="enter" data-from="0.5" data-to="0" data-crop="false" data-opacity="0" data-scale="1.5">
                    <img class="mx-auto rounded-circle" src="{% static 'images/team/ambuj.jpeg' %}" alt="">
                    <h4>Ambuj Chaturvedi</h4>
                    <p class="text-muted">General Secretary</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="http://www.facebook.com/AmbujChaturvedi" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member scrollme animateme" data-when="enter" data-from="0.5" data-to="0" data-crop="false" data-opacity="0" data-scale="1.5">
                    <img class="mx-auto rounded-circle" src="{% static 'images/team/shiv.jpeg' %}" alt="">
                    <h4>Shiv Satya Suri</h4>
                    <p class="text-muted">Vice President</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="http://www.facebook.com/shivsatya97" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Contact Us</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form id="contactForm" name="sentMessage" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" id="name" type="text" placeholder="Your Name *" required
                                       data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="email" type="email" placeholder="Your Email *" required
                                       data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required
                                       data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" id="message" placeholder="Your Message *" required
                                          data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">
                                Send Message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container" >
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Rotaract Himalayan 2018</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/rcch3080" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://www.facebook.com/chd.himalayan" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/rotaracthimalayan/" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Portfolio Modals -->

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Adult Literacy</h2>
                            <p class="item-intro text-muted">in the slum areas of chandigarh</p>
                            <img class="img-fluid d-block mx-auto"
                                 src="{% static 'images/projects/02-adult-literacy.jpg' %}"
                                 alt="">
                            <p>This tenure Rotaract Himalayan aims at educating 300+ of all those young adults older
                                than 15 years living in slum areas; who due to their fate and poverty are not able to
                                get the even basic education. The task of a modern educator is not to cut down the
                                jungles but to irrigate deserts. The Director of this project, Rotaractor Sapna Devi
                                believes
                                that education is not preparation for life but life itself and has aspired to make these
                                adults educated so at least it is they become self-sufficient to read and write and
                                avoid hindrance in their lives.
                                The Club has collaborated with Infosys Chandigarh to provide for funds and to organise
                                workshops for the Rotaractors itself to learn the basic teaching skills needed. The
                                surveys have been conducted and are in continuation in the slum areas of Chandigarh
                                which are majorly located in sector 25 and 38 west. Moreover, the villages of Chandigarh
                                like Maloya, and Dhanas are too on the survey and education list.
                            </p>
                            <ul class="list-inline">
                                <li><strong>Director:</strong> Sapna Devi</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Back to School</h2>
                            <p class="item-intro text-muted">educating school dropouts</p>
                            <img class="img-fluid d-block mx-auto"
                                 src="{% static 'images/projects/02-back-to-school.jpg' %}"
                                 alt="">
                            <p>Even if Right to Education was made a Fundamental Right in 2009, but there are still
                                hundreds of children who can't get this right and thus Himalayan family has come in
                                their way to help them. Just like Project Adult Literacy, this project too aims at
                                educating but in this case the children who are school dropouts and render them
                                certified education. The Director of this project, Rotaractor Aakriti goes with the
                                simple and
                                golden thought of changing peoples' life is a no less than a great charity.
                                The Club has collaborated with local organisations Jan Shiksha Sansthan and Arpan for
                                various activities required in this initiative.
                            </p>
                            <ul class="list-inline">
                                <li><strong>Director:</strong> Aakriti</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Animal Welfare</h2>
                            <p class="item-intro text-muted">raising awareness about animals</p>
                            <img class="img-fluid d-block mx-auto"
                                 src="{% static 'images/projects/02-animal-welfare.png' %}"
                                 alt="">
                            <p>Project Animal Welfare has started in the pursuit of making people cognizant about these
                                beings around them who need a voice to express their pain. Rotaractor Ananta Kant is the
                                Director of this project and believes that not all valiant wear a white cape, some have
                                flying ears. This project is dedicated to make society aware about the adoption of
                                street dogs and not just royal dog breeds. The project also aims to educate people
                                through animal welfare campaigns and demonstrations that focuses on to highlight how
                                humans are making the lives miserable of animals. The project has two main events i.e.
                                Bodhi and Vegan Food Fest which pay attention to importance of adopting vegan food in
                                our lives which is beneficial both for us Humans and animals.</p>
                            <ul class="list-inline">
                                <li><strong>Director:</strong> Ananta Kant</li>
                                <li><strong>Events:</strong> Bodhi, Vegan Food Fest</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Skill Development</h2>
                            <p class="item-intro text-muted">providing vocational training</p>
                            <img class="img-fluid d-block mx-auto"
                                 src="{% static 'images/projects/02-skill-development.png' %}" alt="">
                            <p>It is possible to fly without motors but not without knowledge and skill. For those who
                                are determined to fly, having no wings in just a detail. Rotaractor Pulkit Chanana, the
                                Director of this project came up with a vision to bridge the colossal aperture between
                                skills and their judicious use. The project Skill Development caters to provide
                                vocational training in various fields. Post extensive cogitation and tenacious
                                endeavours, Rotaract Himalayan has been successful in collaborating with Desh Bhagat
                                University to try to instill skills in the youth so that they can contribute to improve
                                India’s jobless growth story while also promoting entrepreneurial spirit.
                                Earmarking all efforts to achieve the target of 50 certified youth to get meaningful
                                jobs by the end of the tenure, the Skill Development wants to ensure basic
                                sustainability to the underprivileged.
                            </p>
                            <ul class="list-inline">
                                <li><strong>Director:</strong> Pulkit Chanana</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Happy School</h2>
                            <p class="item-intro text-muted">transforming schools</p>
                            <img class="img-fluid d-block mx-auto"
                                 src="{% static 'images/projects/02-happy-school.png' %}"
                                 alt="">
                            <p>One of the successful projects of the club has been Project Happy School. It is an
                                initiative under the TEACH program of Rotary India Literacy Mission. Every year the club
                                adopts a school which lacks basic schooling facilities like benches, sanitation,
                                uniforms, books, proper electricity and security etc. We put our hearts out in making
                                each school a little happier place to be at, to give these kids an environment they
                                deserve and cherish. The proceeds raised through our various fundraisers like Pirates of
                                the City and Salsa Slam are allocated to build the infrastructure of the Happy School.
                                In the last tenure, four schools were adopted and transformed completely. This tenure
                                around five more schools are added to the list and the work has already proceeded.
                                Proper education is a basic human right. It breaks the vicious circle of poverty,
                                hunger, unemployment and so many social evils that still exists in. </p>
                            <ul class="list-inline">
                                <li><strong>Director:</strong> Unknown</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Leaders Directory -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Happy School</h2>
                            <p class="item-intro text-muted">transforming schools</p>
                            <img class="img-fluid d-block mx-auto"
                                 src="{% static 'images/projects/02-happy-school.png' %}"
                                 alt="">
                            <p>One of the successful projects of the club has been Project Happy School. It is an
                                initiative under the TEACH program of Rotary India Literacy Mission. Every year the club
                                adopts a school which lacks basic schooling facilities like benches, sanitation,
                                uniforms, books, proper electricity and security etc. We put our hearts out in making
                                each school a little happier place to be at, to give these kids an environment they
                                deserve and cherish. The proceeds raised through our various fundraisers like Pirates of
                                the City and Salsa Slam are allocated to build the infrastructure of the Happy School.
                                In the last tenure, four schools were adopted and transformed completely. This tenure
                                around five more schools are added to the list and the work has already proceeded.
                                Proper education is a basic human right. It breaks the vicious circle of poverty,
                                hunger, unemployment and so many social evils that still exists in. </p>
                            <ul class="list-inline">
                                <li><strong>Director:</strong> Unknown</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'js/agency.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app.min.js' %}"></script>

<!-- animation js -->
<script type="text/javascript" src="{% static 'js/jquery.scrollme.min.js' %}"></script>

<!-- contact -->
<script type="text/javascript" src="{% static 'js/jqBootstrapValidation.js' %}"></script>
<script type="text/javascript" src="{% static 'js/contact_me.js' %}"></script>

<!-- Event JS -->
<script type="text/javascript" src="{% static 'js/lazysizes.min.js' %}" defer></script>
<script type="text/javascript" src="{% static 'js/ls.unveilhooks.min.js' %}" defer></script>

<script>
    $(document).ready(function () {
        var h = $(window).height();
        var scale = 0.80;
        $(".flow-hidden").css('height', h * scale);
    });

    if ($(window).width() > 1030) {
        function showanyproduct(onlynoneproduct) {
            $('.story-img').each(function (index) {
                if ($(this).attr("id") == onlynoneproduct) {
                    $(this).stop().fadeIn();
                    $(this).addClass("active");
                }
                else {
                    $(this).stop().fadeOut();
                    $(this).removeClass("active");
                }
            });
        }
    }

    if ($(window).width() < 1030) {
        var owl = $(".gallery-tile");
        if (owl.length) {
            owl.owlCarousel({
                navigation: true,
                rewindNav: false,
                items: 1,
                itemsDesktop: [1000, 1],
                itemsDesktopSmall: [900, 1],
                itemsTablet: [600, 1],
                itemsMobile: false,
                afterAction: function () {
                    if (this.itemsAmount > this.visibleItems.length) {
                        $('.next').show();
                        $('.prev').show();
                        $('.next').removeClass('disabled');
                        $('.prev').removeClass('disabled');
                        if (this.currentItem == 0) {
                            $('.prev').addClass('disabled');
                        }
                        if (this.currentItem == this.maximumItem) {
                            $('.next').addClass('disabled');
                        }
                    } else {
                        $('.next').hide();
                        $('.prev').hide();
                    }
                }
            });
        }
    }

    if ($(window).width() < 760) {
        var owl = $(".lyf_devices, .trending_slider, .entertainment_slider, .social_slider, .news_slider ");
        if (owl.length) {
            owl.owlCarousel({
                navigation: true,
                rewindNav: false,
                items: 1,
                itemsDesktop: [1000, 1],
                itemsDesktopSmall: [900, 1],
                itemsTablet: [600, 1],
                itemsMobile: false,
                afterAction: function () {
                    if (this.itemsAmount > this.visibleItems.length) {
                        $('.next').show();
                        $('.prev').show();
                        $('.next').removeClass('disabled');
                        $('.prev').removeClass('disabled');
                        if (this.currentItem == 0) {
                            $('.prev').addClass('disabled');
                        }
                        if (this.currentItem == this.maximumItem) {
                            $('.next').addClass('disabled');
                        }
                    } else {
                        $('.next').hide();
                        $('.prev').hide();
                    }
                }
            });
        }
    }


</script>

</body>

</html>
